:root {
  --primary: #3c6255;
  --light: #eeeeee;
  --dark: #61876e;
  --lightgreen: #bb9c8d;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}


.catalog {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.rectangle {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  max-width: 25rem;
  border: solid;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.content {
  display: flex;
  flex-direction: row;
}
.content p {
  margin-top: 1rem;
}
img {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
}
.read-more {
  margin-top: 0.5rem;
}
.read-more,
.arrow {
  padding: 10px 15px;
  background-color: var(--primary);
  color: var(--light);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.read-more:hover,
.arrow:hover {
  background: var(--lightgreen);
  color: var(--primary);
  box-shadow: 0 0 5px var(--lightgreen), 0 0 25px var(--lightgreen),
    0 0 50px var(--lightgreen), 0 0 200px var(--lightgreen);
}

.hidden {
  display: none;
}
.text-box {
  max-width: 50rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-height: 40rem;

  background-color: white;
  padding: 4.5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow-y: auto; /* Add this line to make the text-box scrollable */
}
.text-box img {
  width: 10rem;
  height: 13rem;
  float: left;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.text {
  text-align: justify;
  text-justify: inter-word;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.no-scroll {
  overflow: hidden;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .text-box {
    margin-top: 10rem;
    top: 30%;
  }
  .text {
    text-align: justify;
    text-justify: auto;
  }
  .text-box img {
    float: none;
  }
}
