:root {
  --primary: #3c6255;
  --light: #eeeeee;
  --dark: #61876e;
  --lightgreen: #a6bb8d;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

main {
  padding-top: 4rem;
}

.search-filter-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.filter-select {
  flex: 1 0 auto;
}
#urgente_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
#infractiuni_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#chartDescription {
  text-align: center;
  width: 100%;
}

.search-input,
.filter-select {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 240px;
}
.filter-select {
  width: 11rem;
  height: 40px;
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  margin: 60px;
  margin-left: 30%;
}
#myChart {
  overflow: auto;
}
.search-button:hover {
  stroke-width: 12;
}

.search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--primary);
  color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#infractiuni_options,
#confiscari_options,
#urgente_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  padding: 1rem 0;
  text-align: center;
  background-color: var(--primary);
  color: #fff;
}

.search-button:hover {
  background-color: #2d4c42;
  color: #f1f1f1;
}

select:required:invalid {
  color: #737373;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
  animation-duration: 10000ms;
}

.dropbtn {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #3A833C;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.dropup {
  position: relative;
  width: 69px;
}

.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ddd;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2d4c42;
  color: #f1f1f1;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 767px) {
  .search-filter-container {
    flex-direction: column;
  }

  .search-filter-container,
  #infractiuni_options,
  #confiscari_options,
  #urgente_options {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  #chartDescription {
    font-size: 15px;
  }
  .dropup-content {
    font-size: 1rem;
  }
}
