:root {
  --primary: #3c6255;
  --light: #eeeeee;
  --dark: #61876e;
  --lightgreen: #a6bb8d;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("../public/poze/background.jpg");
  background-size: cover;
  font-family: 'Arial', sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #3c6255;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-top: 10%;
  padding-bottom: 10px; /* Adaugă un spațiu de 10px sub text */
}

.sidebar ul li:not(.selected):hover {
  color: #3c6255;
}




.sidebar ul li.selected {
  
  border-top: 1px solid #3c6255; /* Înlocuiește 'blue' cu culoarea dorită */
  border-bottom: 1px solid #3c6255;
}


.container2 {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 95vw; /* schimbă 1024px cu 95vw */
  max-width: 1024px; /* păstrează lățimea maximă la 1024px */
  min-height: 70vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.sidebar {
  width: 30%; /* schimbă 300px cu 30% */
  border-right: 1px solid #ccc;
}

.content {
  width: 70%; /* schimbă calc(100% - 300px) cu 70% */
  padding: 20px;
}
.sidebar ul {
  list-style: none; 
  padding-left: 0; /* Acest lucru elimină spațiul implicit adăugat de browser pe partea stângă a listelor neordonate */
}

.sidebar ul li {
  font-family: 'Arial', sans-serif;
  margin: 10px 0; /* Acest lucru adaugă un spațiu de 10px deasupra și dedesubtul fiecărui element listă */
  border-bottom: 1px solid #ccc; /* Aceasta adaugă o linie de delimitare dedesubtul fiecărui element listă */
  padding: 10px 20px; /* Aceasta adaugă un spațiu de 10px deasupra și dedesubtul conținutului fiecărui element listă, precum și un spațiu de 20px pe partea stângă */
}





.tab-content form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Modifică acest procentaj pentru a regla lățimea formularului */
  margin: auto;
  align-items: flex-start; /* Alinează elementele la stânga */
}

.tab-content form label {
  font-weight: bold;
  margin-top: 20px;
}

.tab-content form input {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tab-content form input[type="submit"] {
  background-color: var(--primary);
  color: var(--light);
  margin-top: 20px;
  cursor: pointer;
  width: 100px; /* Reglează lățimea butonului */
  height: 30px; /* Reglează înălțimea butonului */
}

@media  (max-height: 840px) {
  .container2 {
    margin-top: 10vh; /* Ajustează această valoare în funcție de înălțimea navbar-ului tău */
    height: calc(100vh - 100px); /* Ajustează această valoare în funcție de înălțimea navbar-ului tău */
  }
}

@media  (max-height: 739px) {
  .container2 {
    margin-top: 10vh; /* Ajustează această valoare în funcție de înălțimea navbar-ului tău */
    height: calc(100vh - 100px); /* Ajustează această valoare în funcție de înălțimea navbar-ului tău */
  }
}

@media (max-width: 768px) {
  .container2 {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px; /* adaugă spațiu în jurul containerului */
    box-sizing: border-box; /* asigură-te că padding-ul este inclus în lățimea totală a containerului */
  }

  .sidebar  {
    width: 400px;
  }

  .content{
    width: fit-content;
  }

  .tab-content form {
    width: 100%;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 40%; /* crește procentajul pentru sidebar pentru a preveni înghesuirea conținutului */
  }

  .content {
    width: 60%; /* scade procentajul pentru content pentru a face loc pentru sidebar */
  }
}
