<!DOCTYPE html>
<html lang="zxx">

<head>
  <link rel="stylesheet" href="../static/css/about.css">
  <link rel="stylesheet" href="../static/css/nav.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <style>
    body {
      background-image: url("../static/poze/background.jpg");
      background-size: cover;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <div class="container">
        <h1>RoDX</h1>
        <div class="menu">
          <a href="index.html">Acasa</a>
          <a href="cautare.html">Cautare&filtrare</a>
          <a href="droguri.html">Droguri</a>
          <a href="campanii.html">Campanii</a>
          <a href="#" class="is-active">About us</a>
          <a href="login.html">Login</a>
        </div>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
    <div class="mobile-menu">
      <a href="index.html">Acasa</a>
      <a href="cautare.html">Cautare&filtrare</a>
      <a href="droguri.html">Droguri</a>
      <a href="campanii.html">Campanii</a>
      <a href="#">About us</a>
      <a href="login.html">Login</a>
    </div>
  </header>
  <main>
    <div class="about-us-container">
      <div class="about-us-card">
        <img src="../static/poze/denis.jpg" alt="Poza persoanei 1">
        <div>
          <h2>Duluță George Denis</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium qui quod iusto itaque atque laboriosam
            sapiente eaque, alias voluptates ipsam impedit numquam velit corporis hic fugiat rerum eveniet
            exercitationem nobis?
            Corporis labore ea non, enim neque quod, ipsum error officiis perferendis, possimus impedit ab dolor
            necessitatibus! Corporis laboriosam, corrupti quibusdam odio doloremque ex aperiam qui officia quis vitae
            aliquam perspiciatis?
            Obcaecati odit animi repudiandae, provident culpa eligendi quam iste porro id aut doloribus placeat
            distinctio itaque dolores? Quos doloremque veniam ex mollitia veritatis. A minima laboriosam itaque
            accusantium recusandae distinctio.</p>
        </div>
      </div>
      <div class="about-us-card">
        <img src="../static/poze/marcel.jpg" alt="Poza persoanei 2">
        <div>
          <h2>Carp Marcel</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium qui quod iusto itaque atque laboriosam
            sapiente eaque, alias voluptates ipsam impedit numquam velit corporis hic fugiat rerum eveniet
            exercitationem nobis?
            Corporis labore ea non, enim neque quod, ipsum error officiis perferendis, possimus impedit ab dolor
            necessitatibus! Corporis laboriosam, corrupti quibusdam odio doloremque ex aperiam qui officia quis vitae
            aliquam perspiciatis?
            Obcaecati odit animi repudiandae, provident culpa eligendi quam iste porro id aut doloribus placeat
            distinctio itaque dolores? Quos doloremque veniam ex mollitia veritatis. A minima laboriosam itaque
            accusantium recusandae distinctio.</p>
        </div>
      </div>
      <div class="about-us-card">
        <img src="../static/poze/mihai.jpg" alt="Poza persoanei 3">
        <div>
          <h2>Gălățianu Mihai</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium qui quod iusto itaque atque laboriosam
            sapiente eaque, alias voluptates ipsam impedit numquam velit corporis hic fugiat rerum eveniet
            exercitationem nobis?
            Corporis labore ea non, enim neque quod, ipsum error officiis perferendis, possimus impedit ab dolor
            necessitatibus! Corporis laboriosam, corrupti quibusdam odio doloremque ex aperiam qui officia quis vitae
            aliquam perspiciatis?
            Obcaecati odit animi repudiandae, provident culpa eligendi quam iste porro id aut doloribus placeat
            distinctio itaque dolores? Quos doloremque veniam ex mollitia veritatis. A minima laboriosam itaque
            accusantium recusandae distinctio.</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p>@Drugs&Prevention</p>
  </footer>
  <script src="../static/js/main.js"></script>
</body>

</html>