<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../static/css/about.css">
  <link rel="stylesheet" href="../static/css/nav.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cautare</title>
</head>

<body>
  <header>
    <nav>
      <div class="container">
        <h1>RoDX</h1>
        <div class="menu">
          <a href="index.html">Acasa</a>
          <a href="cautare.html">Cautare&filtrare</a>
          <a href="droguri.html">Droguri</a>
          <a href="campanii.html">Campanii</a>
          <a href="#" class="is-active">About us</a>
          <a href="login.html">Login</a>
        </div>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
    <div class="mobile-menu">
      <a href="index.html">Acasa</a>
      <a href="cautare.html">Cautare&filtrare</a>
      <a href="droguri.html">Droguri</a>
      <a href="campanii.html">Campanii</a>
      <a href="#">About us</a>
      <a href="login.html">Login</a>
    </div>
  </header>
  <footer>
    <p>@Drugs&Prevention</p>
  </footer>
  <script src="../static/js/main.js"></script>
</body>

</html>