<!DOCTYPE html>
<html lang="ro">

<head>
  <link rel="stylesheet" href="../static/css/campanii.css">
  <link rel="stylesheet" href="../static/css/nav.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cautare</title>
  <style>
    body {
      background-image: url("../static/poze/background.jpg");
      background-size: cover;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <div class="container">
        <h1>RoDX</h1>
        <div class="menu">
          <a href="index.html">Acasa</a>
          <a href="cautare.html">Cautare&filtrare</a>
          <a href="droguri.html">Droguri</a>
          <a href="#" class="is-active">Campanii</a>
          <a href="about.html">About us</a>
          <a href="login.html">Login</a>
        </div>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
    <div class="mobile-menu">
      <a href="index.html">Acasa</a>
      <a href="cautare.html">Cautare&filtrare</a>
      <a href="droguri.html">Droguri</a>
      <a href="campanii.html">Campanii</a>
      <a href="about.html">About us</a>
      <a href="login.html">Login</a>
    </div>
  </header>
  <div class="catalog">
    <div class="rectangle glass">
      <h3>Cum să creștem sănătoși</h3>

      <div class="content">
        <img src="../static/poze/campanie1.jpg" alt="poza 1">
        <p>
          &nbsp; „Cum să creștem sănătoși”, proiect național de promavare a
          unui stil de viață sănătos destinat preșcolarilor, implementat în
          județul Dâmbovița...
        </p>
      </div>
      <div class="btn">
        <button class="read-more" id="button-1">Read more</button>
      </div>
    </div>
    <div class="rectangle glass">
      <h3>ABC-ul emoțiilor</h3>

      <div class="content">
        <img src="../static/poze/campanie2.jpg" alt="poza 1">
        <p>
          &nbsp; „ABC-ul emoțiilor”, proiect naţional de dezvoltare emoțională
          destinat elevilor din clasele i și a ii-a din judeţul Dâmboviţa...
        </p>
      </div>
      <div class="btn">
        <button class="read-more">Read more</button>
      </div>
    </div>
    <div class="rectangle glass">
      <h3>„Necenzurat”</h3>

      <div class="content">
        <img src="../static/poze/campanie3.jpg" alt="poza 1">
        <p>
          &nbsp; „Necenzurat”, proiect național de prevenire a consumului de
          droguri în şcoli, destinat adolescenţilor cu vârste cuprinse între
          12 si 14 ani din judeţul Călăraşi...
        </p>
      </div>
      <div class="btn">
        <button class="read-more">Read more</button>
      </div>
    </div>
    <div class="rectangle glass">
      <h3>Fred Goes Net</h3>

      <div class="content">
        <img src="../static/poze/campanie4.jpg" alt="poza 1">
        <p>
          &nbsp; „Fred Goes Net”, proiect de intervenţie preventivă timpurie,
          adresat liceenilor...
        </p>
      </div>
      <div class="btn">
        <button class="read-more">Read more</button>
      </div>
    </div>
    <div class="rectangle glass">
      <h3>Mesajul meu antidrog</h3>

      <div class="content">
        <img src="../static/poze/campanie5.jpg" alt="poza 1">
        <p>
          &nbsp; "Mesajul meu antidrog", proiect-concurs de prevenire a
          consumului de droguri, adresat elevilor de gimnaziu şi liceu...
        </p>
      </div>
      <div class="btn">
        <button class="read-more">Read more</button>
      </div>
    </div>
    <div class="rectangle glass">
      <h3>Eu și copilul meu</h3>

      <div class="content">
        <img src="../static/poze/campanie6.jpg" alt="poza 1">
        <p>
          &nbsp; “Eu și copilul meu”, proiect de formare de abilităţi educative
          privind prevenirea consumului de droguri, adresat părinţilor...
        </p>
      </div>
      <div class="btn">
        <button class="read-more">Read more</button>
      </div>
    </div>

  </div>
  <div class="text-box hidden" id="text-box-1" data-index="1">
    <button class="close-modal">&times;</button>
    <img src="../static/poze/campanie1.jpg" alt="poza 1">
    <div class="text">
      <p>
        În perioada septembrie 2021 – iunie 2022, Centrul de Prevenire,
        Evaluare şi Consiliere Antidrog (CPECA) Dâmboviţa, împreună cu Casa
        Corpului Didactic (CCD) Dâmboviţa şi Inspectoratul Şcolar Judeţean
        (ISJ) Dâmboviţa, implementează, pentru a patra oară, proiectul
        naţional de promovare a unui stil de viaţă sănătos, destinat copiilor
        preşcolari din grupa mare, denumit „Cum să creştem sănătoşi”. Acest
        proiect presupune formarea de deprinderi de viaţă sănătoasă în rândul
        copiilor de vârstă preşcolară, punând accent pe importanţa adoptării
        unui stil de viaţă sănătos (alimentaţie, igienă, mişcare), a
        comportamentelor sănătoase (fără fum de ţigară, alcool şi medicamente
        fără prescripţie medicală) şi a modalităţilor adecvate de rezolvare a
        conflictelor fără violenţă şi de luare a deciziilor. Activităţile sunt
        concepute în concordanţă cu nivelul de dezvoltare socio-emoţională a
        copiilor de vârstă preşcolară, astfel încât să fie atractive şi uşor
        de înţeles. Copiii vor învăţa prin joc şi activităţi practice
        (desenat, decupat, scenete, etc.), care sunt comportamentele care îi
        ajută să se dezvolte sănătos şi cum să se ferească de comportamentele
        periculoase. Astfel, în perioada 28 februarie – 2 martie a.c.,
        specialişti ai CPECA Dâmboviţa şi ai CCD Dâmboviţa, au realizat un
        curs de formare profesională continuă a cadrelor didactice care
        desfăşoară activităţi didactice cu preşcolari din grupa mare, în
        scopul dezvoltării unor tehnici şi metode de comunicare interactivă,
        iar în a doua etapă (martie – iunie 2022), cadrele didactice
        participante vor realiza activităţile cu şi pentru copii. Suportul de
        curs pentru pentru elevi este asigurat de Agenţia Naţională Antidrog.
      </p>
      <div class="navigation">
        <button class="arrow arrow-left">&larr;</button>
        <button class="arrow arrow-right">&rarr;</button>
      </div>
    </div>
  </div>
  <div class="text-box hidden" id="text-box-2" data-index="2">
    <button class="close-modal">&times;</button>
    <img src="../static/poze/campanie2.jpg" alt="poza 1">
    <div class="text">
      <p>24 de cadre didactice din învățământul primar au fost formate, în perioada 25 – 27 ianuarie a.c., de
        specialiştii Centrului de Prevenire, Evaluare şi Consiliere Antidrog (CPECA) Dâmboviţa, în cadrul proiectului
        național „ABC-ul emoțiilor”.

        În perioada septembrie 2022 – mai 2023, CPECA Dâmboviţa, împreună cu Inspectoratul Şcolar Judeţean (ISJ)
        Dâmboviţa și Casa Corpului Didactic (CCD) Dâmboviţa, implementează, la nivelul județului, un proiect de
        dezvoltare emoţională a elevilor din clasele I şi a II-a, denumit „ABC-ul emoţiilor”.

        Astfel, în perioada 25 – 27 ianuarie a.c., specialişti ai CPECA Dâmboviţa şi CCD Dâmboviţa, au organizat cursul
        de formare profesională continuă a cadrelor didactice care desfăşoară activităţi didactice cu elevii din clasele
        I şi a II-a, în scopul dezvoltării unor tehnici şi metode de comunicare interactivă.

        În a doua etapă a implementării programului (februarie – mai 2023), cadrele didactice participante vor realiza,
        într-un format atractiv, o serie de activităţi specifice care să faciliteze dezvoltarea abilităţilor emoţionale
        ale elevilor din clasele I şi a II-a din județul Dâmbovița.

        Obiectivele programului vizează formarea şi consolidarea abilităţilor emoţionale cu rol de factori de protecţie
        în prevenirea consumului de droguri, punând accent pe conştientizarea de sine, comunicarea asertivă, gestionarea
        emoţiilor negative, abilitatea de a face faţă presiunii grupului şi de adoptare a deciziilor pentru o dezvoltare
        sănătoasă.</p>
      <div class="navigation">
        <button class="arrow arrow-left">&larr;</button>
        <button class="arrow arrow-right">&rarr;</button>
      </div>
    </div>
  </div>
  <div class="text-box hidden" id="text-box-3" data-index="3">
    <button class="close-modal">&times;</button>
    <img src="../static/poze/campanie3.jpg" alt="poza 1">
    <div class="text">
      <p>Agenţia Naţională Antidrog (ANA), în parteneriat cu Ministerul Educaţiei Naţionale (MEN), continuă, şi în al
        doilea semestru al acestui an şcolar, implementarea cu succes a proiectului „Necenzurat”, proiect de prevenire a
        consumului de droguri în şcoli, destinat adolescenţilor cu vârste cuprinse între 12 si 14 ani, cunoscut ca
        proiectul EU-DAP ,,UNPLUGGED”.

        Proiectul, care se desfăşoară în România, fără întrerupere, începând cu anul 2009, a fost implementat, în mai
        multe etape, în 17 state europene, dar şi în numeroase ţări din Asia, Africa şi America, şi a fost iniţiat de
        „Mentor International Foundation”, fiind bazat pe modelul influenţei sociale.

        Evaluarea proiectului la nivel european a arătat eficienţa acestuia în întârzierea vârstei de debut în consumul
        de droguri şi în reducerea consumului de alcool, tutun şi canabis în rândul grupului ţintă (12-14 ani).

        „Necenzurat” are o componentă pentru elevi şi una pentru părinţi. Componenta pentru elevi constă în parcurgerea
        a 12 lecţii, săptămânal, care urmăresc îmbunătăţirea cunoştinţelor legate de factorii de risc şi de protecţie,
        concomitent cu construirea atitudinilor împotriva consumului, concentrarea asupra abilităţilor, credinţelor şi
        normelor interpersonale şi asupra informaţiilor realiste despre consumul de droguri, precum şi

        dezvoltarea abilităţilor intrapersonale, cum ar fi cele de coping, de rezolvare a problemelor, de luare a
        deciziilor şi de stabilire a obiectivelor.

        Componenta pentru părinţi include o întâlnire de trei ore, focusată pe abilităţile generale de a consolida
        relaţiile de familie, precum şi de a controla şi soluţiona conflictele, pe abilităţile privind prevenirea
        consumului de droguri, care vor creşte nivelul cunoştinţelor părinţilor despre droguri şi îi vor ajuta să
        manifeste atitudinile potrivite şi modelele de comportament adecvate cu privire la droguri şi pe abilităţile
        privind exercitarea rolului de părinţi.

        Proiectul conţine următoarele materiale: manualul profesorului, caietul elevului, cartonaşele cu mituri şi
        realităţi despre droguri, precum şi un model de scrisoare pentru părinţi.

        În anul şcolar 2019-2020, specialiştii ANA şi-au propus ca, la nivel naţional, peste 14000 de elevi de 12 – 14
        ani să-şi formeze abilităţi de viaţă, necesare luării unor decizii informate, corecte şi responsabile în
        legătură cu consumul de tutun, alcool şi droguri, prin participarea la cursurile „Necenzurat” (cel puţin 15
        cursuri /judeţ sau sector).

        Totodată, 705 cadre didactice vor fi formate, în vederea implementării proiectului, la nivel naţional, fiind
        susţinute tot atâtea Cursuri „Necenzurat”, conform Manualului profesorului şi Caietului elevului.

        Aproximativ 28200 de părinţii vor beneficia şi ei în cadrul proiectului de creştere a nivelului de informare,
        educare şi conştientizare a importanţei factorilor de risc şi de protecţie familială în legătură cu consumul de
        droguri.

        Noile tehnici de prevenire a consumului de droguri au ca scop formarea de abilităţi sociale care, odată învăţate
        şi exersate, ajută la creşterea rezistenţei la presiunea grupului de egali la îndemnul de a consuma droguri.

        Scopul acestei abordări este de a dezvolta, în rândul elevilor de 12-14 ani, aptitudini specifice şi resurse de
        care au nevoie pentru a rezista influenţelor sociale, de a înţelege corect cunoştinţele despre droguri si
        efectele lor asupra sănătăţii individuale şi colective.</p>
      <div class="navigation">
        <button class="arrow arrow-left">&larr;</button>
        <button class="arrow arrow-right">&rarr;</button>
      </div>
    </div>
  </div>
  <div class="text-box hidden" id="text-box-4" data-index="4">
    <button class="close-modal">&times;</button>
    <img src="../static/poze/campanie4.jpg" alt="poza 1">
    <div class="text">
      <p>Începând cu anul 2011, Agenţia Naţională Antidrog (ANA), prin intermediul celor 47 de Centre de Prevenire,
        Evaluare şi Consiliere Antidrog (CPECA), în parteneriat cu structurile Ministerului Educaţiei Naţionale, a
        implementat anual, la nivel naţional, Proiectul “FRED GOES NET”.

        Prin implementarea acestui proiect, specialiştii ANA urmăresc realizarea de intervenţii preventive timpurii
        pentru elevii cu vârste cuprinse între 14 şi 19 ani, în scopul neînceperii sau întârzierii debutului consumului
        de droguri, dar şi al evitării transformării consumului experimental şi ocazional în consum regulat, prin
        participarea la Cursurile FRED.

        În cadrul proiectului ,,FRED GOES NET”, tinerii primesc informaţii corecte despre tipurile de droguri, efectele
        şi riscurile lor, sunt încurajaţi să reflecteze asupra comportamentului propriu de consum de tutun, alcool şi
        droguri, precum şi asupra situaţiilor care conduc la acest comportament, sunt încurajaţi să ia decizii pe baza
        evaluărilor proprii, dar şi pe baza conştientizării personale a riscurilor şi sunt motivaţi în vederea
        schimbării atitudinilor şi comportamentelor de consum de tutun, alcool şi droguri.

        De asemenea, “FRED GOES NET” creşte accesibilitatea tinerilor care se află în situaţia de a deveni dependenţi,
        la serviciile integrate de prevenire şi asistenţă, şi sporeşte şansa intervenţiei timpurii şi rapide,
        evitându-se sau diminuându-se astfel riscul condamnării, discriminării sau marginalizării tinerilor cu risc de a
        deveni dependenţi.

        Intervenţia constă într-un interviu iniţial şi o intervenţie în grup de 8 ore (Cursul FRED). Pentru asigurarea
        calităţii Cursurilor FRED, este necesară instruirea specifică conform Manualului european FRED GOES NET şi
        parcurgerea unui modul de formare în Interviul Motivaţional. Interviul Motivațional este o metodă directivă de
        comunicare, care are drept scop creşterea motivaţiei intrinseci pentru schimbare, prin explorarea şi rezolvarea
        ambivalenţei. A fost dezvoltat de William Miller şi Stephen Rollnick şi este recunoscut la nivel mondial ca şi
        intervenție bazată pe evidențe știinţifice.

        Pentru anul şcolar 2019 – 2020, beneficiarii direcţi estimaţi ai proiectului sunt 2350 de elevi (14 – 19 ani)
        din învăţământul liceal, care vor participa la 5 Cursuri FRED/CPECA (50 de elevi/CPECA), susţinute de
        specialiştii ANA. Beneficiarii indirecţi sunt cadrele didactice şi elevii din unităţile şcolare în care se
        desfăşoară proiectul, precum şi familiile elevilor care participă în concurs.

        Cursul FRED poate fi general (droguri legale şi ilegale) sau adaptat pentru consumul de canabis, substanţe noi
        psihoactive, alcool sau tutun (în funcţie de rezultatele evaluării iniţiale a participanţilor). Consumul de
        heroină este o condiţie de neincludere în Cursul FRED întrucât nu este potrivit pentru tinerii care sunt deja
        dependenţi. Aceştia ar trebui să fie referiţi către alte servicii.

        Beneficiarii indirecţi sunt cadrele didactice şi elevii din liceele în care se desfăşoară proiectul, precum şi
        familiile elevilor care participă la Cursul FRED.

        Proiectul ,,FRED GOES NET” a fost derulat şi evaluat cu succes în Germania, între anii 2000-2004. În perioada
        2007-2010, în cadrul unui proiect cu finanţare europeană, a fost pilotat de nouă ţări partenere: Austria,
        Belgia, Germania, Irlanda, Islanda, Letonia, Polonia, Slovenia şi România, fiind introdus în baza de date cu
        exemple de bună practică din domeniul reducerii cererii de droguri din Uniunea Europeană – EDDRA.

      </p>
      <div class="navigation">
        <button class="arrow arrow-left">&larr;</button>
        <button class="arrow arrow-right">&rarr;</button>
      </div>
    </div>
  </div>
  <div class="text-box hidden" id="text-box-5" data-index="5">
    <button class="close-modal">&times;</button>
    <img src="../static/poze/campanie5.jpg" alt="poza 1">
    <div class="text">
      <p>Agenţia Naţională Antidrog (ANA), prin cele 47 de Centre de Prevenire, Evaluare şi Consiliere Antidrog,
        derulează concursul „Mesajul meu antidrog” 2022.

        Acesta este unul dintre proiectele de succes de prevenire a consumului de droguri în rândul populaţiei şcolare
        din învăţământul gimnazial şi liceal din toate judeţele ţării şi din Bucureşti şi se desfăşoară, anual, încă de
        la înfiinţarea ANA.

        Obiectivul general al proiectului îl reprezintă dezvoltarea unor atitudini şi practici de viaţă sănătoasă pentru
        un număr estimat de 6000 de elevi de gimnaziu şi liceu, prin implicarea în activităţi culturale, artistice,
        sportive etc., ca alternativă la consumul de droguri.

        Concursul, care va fi implementat la nivel naţional, în anul şcolar 2021-2022, va avea tema: „MESAJUL MEU
        ANTIDROG” şi se va desfăşura pe următoarele secţiuni:

        film de scurt metraj şi spot video;
        arte vizuale– grafică, pictură şi fotografie;
        eseu;
        sport.
        Proiectul-concurs se desfășoară în unităţile de învăţământ, în parteneriat cu Ministerul Educației, iar elevii
        pot trimite lucrări până la data de 30 aprilie 2022.</p>
      <div class="navigation">
        <button class="arrow arrow-left">&larr;</button>
        <button class="arrow arrow-right">&rarr;</button>
      </div>
    </div>
  </div>
  <div class="text-box hidden" id="text-box-6" data-index="6">
    <button class="close-modal">&times;</button>
    <img src="../static/poze/campanie6.jpg" alt="poza 1">
    <div class="text">
      <p>„EU ȘI COPILUL MEU” – FORMARE FAMILIALĂ DE ABILITĂŢI EDUCATIVE PRIVIND PREVENIREA CONSUMULUI DE TUTUN, ALCOOL
        ŞI DROGURI
        16 februarie 2021 Teodorescu Iuliana
        Agenţia Naţională Antidrog (ANA), prin Centrul de Prevenire, Evaluare și Consiliere Antidrog Alba (CPECA), și în
        parteneriat cu Școala Gimnazială Câmpeni, a implementat, în perioada decembrie 2020 – februarie 2021, proiectul
        național de prevenire în familie ,,Eu și copilul meu”, prin care se urmărește consolidarea legăturilor afective
        dintre membrii familiei (părinte-copil, părinte-părinte, copil-copil), precum şi dintre familie şi şcoală,
        aplicând sistematic metode fundamentate ştiinţific.

        La activitățile proiectului au participat 18 părinți ai elevilor din clasa a VII-a de la Școala Gimnazială
        Câmpeni, întâlnirile fiind organizate și desfășurate în mediul online de doamnele profesoare Struț Mihaela și
        Arieșanu Liliana, sub coordonarea specialiștilor CPECA Alba.

        Obiectivul proiectului îl reprezintă creşterea nivelului de sensibilizare şi responsabilizare a familiilor, în
        vederea oferirii de modele pozitive copiilor, în cadrul programelor de informare, educare şi conştientizare cu
        privire la efectele consumului de droguri și dezvoltarea rolului proactiv al familiilor în viaţa copiilor, în
        vederea formării sau întăririi abilităţilor pentru gestionarea sănătoasă a relațiilor părinți-copii.

        Proiectul „Eu şi copilul meu” are nouă activităţi interactive cu părinţii, dar şi aplicaţii cu caracter ludic,
        ce necesită un grad mare de implicare din partea acestora, inclusiv în relația cu copii. Temele discutate în
        cadrul întâlnirilor au fost „Să facem cunoştinţă”, „Nevoile copilului meu”, „Ce fel de părinte sunt?”, „Cum
        comunicăm eficient cu copiii”, „Cum controlăm conflictele din familie”, „Cum stabilim reguli şi pedepse”, „Cum
        supraveghem anturajul copilului”, „Cum afectează familia consumul de tutun, alcool şi droguri” şi „Gala de
        absolvire”.

        ***

        Părinţilor le revine rolul esenţial în creşterea copiilor, fiind datori să le asigure nu numai existenţa
        materială, ci şi un climat familial afectiv şi moral sănătos. Sunt situaţii în care familia consideră că este
        suficient să se ocupe doar de satisfacerea nevoilor primare (hrană, îmbrăcăminte, locuinţă, cheltuieli zilnice
        etc.), subestimând importanţa unei comunicări afective autentice, aspect ce se reflectă negativ în dezvoltarea
        sentimentului de apartenenţă al copilului.

        În general, comportamentul copiilor este inspirat din experienţa de viaţă a părinţilor, astfel perpetuându-se
        atât aspecte pozitive, cât şi negative în educaţie, pe parcursul mai multor generaţii.

        Rolul de părinte implică foarte multe cunoştinţe şi abilităţi necesare zi de zi, care nu sunt înnăscute sau nu
        apar atunci când devii părinte. Fiecare dintre noi învăţăm să fim părinţi de la cei din jurul nostru, de la
        părinţii noştri, din informaţiile pe care le auzim sau le citim. Uneori, însă, ceea ce învăţăm din interacţiunea
        cu ceilalţi nu este suficient pentru a fi părintele de care copilul are nevoie pentru a se dezvolta şi pentru a
        creşte sănătos fizic , mental și emoțional. De multe ori părinţii au întrebări la care nu au răspunsuri sau
        observă comportamente ale copilului lor la care nu ştiu cum să reacţioneze, iar în acest context, consilierea
        părinţilor în scopul îmbunătăţirii relaţiilor cu proprii copii, după principii ştiinţifice de psihopedagogie,
        devine o necesitate.</p>
      <div class="navigation">
        <button class="arrow arrow-left">&larr;</button>
        <button class="arrow arrow-right">&rarr;</button>
      </div>
    </div>
  </div>
  <div class="text-box hidden" id="text-box-7" data-index="7">
    <button class="close-modal">&times;</button>
    <div class="text">
      <p>7</p>
      <div class="navigation">
        <button class="arrow arrow-left">&larr;</button>
        <button class="arrow arrow-right">&rarr;</button>
      </div>
    </div>
  </div>
  <div class="overlay hidden"></div>
  <footer>
    <p>@Drugs&Prevention</p>
  </footer>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/campanii.js"></script>
</body>

</html>