<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video-intrare</title>
</head>
<body>
    
    <div class="intro">
        <div id="video-container">
          <video id="my-video" src="../static/poze/video.mp4" muted autoplay></video>
        </div>
        <h2 class="logo-header">
          <span class="StopDrugs">STOP</span>  <span class="StopDrugs"> DRUGS</span>
        </h2>
      </div>

      
      <header>
        <nav>
          <div class="container">
            <h1>RoDX</h1>
  
            <div class="menu">
              <a href="#" class="is-active">Acasa</a>
              <a href="cautare.html">Cautare&filtrare</a>
              <a href="droguri.html">Droguri</a>
              <a href="campanii.html">Campanii</a>
              <a href="about.html">About us</a>
              <a href="login.html">Login</a>
            </div>
            <button class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </nav>
        <div class="mobile-menu">
          <a href="#">Acasa</a>
          <a href="cautare.html">Cautare&filtrare</a>
          <a href="droguri.html">Droguri</a>
          <a href="campanii.html">Campanii</a>
          <a href="about.html">About us</a>
          <a href="login.html">Login</a>
        </div>
      </header>


      <div class="backgroundimg">
        <img src="../static/poze/background.jpg" alt="Logo FII" />
        <div class="backgroundtext">Romanian Drug Explorer</div>
      </div>
      <div class="rectangles">
        <div class="rectangle">
          <h2>Contextul consumului de droguri</h2>
          <p>
            &nbsp; Consumul de droguri reprezintă o problemă majoră la nivel
            mondial și afectează societatea în multe moduri. În România,
            tendințele consumului de droguri și impactul acestora asupra sănătății
            publice, securității și economiei sunt monitorizate și analizate
            pentru a informa politicile și strategiile de prevenire. RoDX vă oferă
            o imagine de ansamblu a acestei situații complexe și evolutive.
          </p>
        </div>
        <div class="rectangle">
          <h2>Impactul asupra sănătății și societății</h2>
          <p>
            &nbsp; Consumul de droguri afectează nu doar sănătatea individuală, ci
            și societatea în ansamblu. Problemele asociate cu drogurile includ
            dependența, bolile transmisibile, supradozele și problemele de
            sănătate mintală. Prin analiza datelor disponibile, RoDX urmărește să
            evidențieze aceste probleme și să contribuie la eforturile de
            prevenire și reducere a impactului consumului de droguri.
          </p>
        </div>
        <div class="rectangle">
          <h2>Măsurile de prevenire și control</h2>
          <p>
            &nbsp; Autoritățile, organizațiile non-guvernamentale și comunitățile
            locale din România depun eforturi pentru a preveni și controla
            consumul de droguri. Aceste măsuri includ campanii de informare și
            educare, servicii de tratament și reabilitare, precum și aplicarea
            legii pentru a combate traficul și distribuția de droguri. RoDX
            prezintă o imagine de ansamblu a acestor inițiative și eforturi de
            prevenire.
          </p>
        </div>
      </div>
      <section class="text-image">
        <div class="content-container">
          <div class="text-content">
            <h2 class="header-img">Date și statistici</h2>
            <p class="description-img">
              RoDX pune la dispoziție date și statistici relevante despre consumul
              de droguri în România, oferind o perspectivă amplă asupra acestei
              probleme. De asemenea, analizează grupurile de vârstă și demografice
              afectate, evidențiind în special tinerii și populațiile vulnerabile.
              În plus, RoDX oferă informații despre zonele geografice în care
              consumul de droguri este mai răspândit, ajutând la identificarea
              zonelor cu risc crescut. Pentru a oferi o perspectivă completă, RoDX
              analizează și consecințele consumului de droguri asupra sănătății și
              societății. Platforma include date despre numărul de cazuri de
              urgență medicală și de decese legate de droguri, precum și impactul
              acestora asupra sistemului de sănătate și a resurselor comunitare.
            </p>
          </div>
          <div class="image-content">
            <img
              src="../static/poze/nodrugs3.jpg"
              alt="Image description"
              style="border-radius: 50%"
            />
          </div>
        </div>
      </section>
  
      <section class="image-text">
        <div class="content-container">
          <div class="image-content">
            <img src="../static/poze/nodrugs.jpg" alt="Image description" />
          </div>
          <div class="text-content">
            <h2 class="header-img">
              Eforturi pentru combaterea consumului de droguri
            </h2>
            <p class="description-img">
              &nbsp; Pentru a aborda eficient problema consumului de droguri, este
              esențială o strategie integrată care implică diferite domenii de
              activitate și părți interesate. RoDX evidențiază eforturile și
              acțiunile care contribuie la combaterea consumului de droguri,
              inclusiv prevenirea, tratamentul, reintegrarea socială și aplicarea
              legii. Platforma RoDX prezintă eforturi integrate, cum ar fi:
              Programe de prevenire, inițiative educaționale și de conștientizare
              care vizează populația în general sau grupuri specifice, cum ar fi
              tinerii și comunitățile vulnerabile, pentru a reduce riscul
              consumului de droguri; servicii de tratament și consiliere;
              combaterea traficului de droguri.
            </p>
          </div>
        </div>
      </section>
      <footer>
        <p>@Drugs&Prevention</p>
      </footer>
  
    <script src="../static/js/app.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>