:root {
  --primary: #3c6255;
  --light: #eeeeee;
  --dark: #61876e;
  --lightgreen: #a6bb8d;
  font-size: 16px;
}
.container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-bottom: 0.1875rem solid var(--dark);
}
nav h1 {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 900;
  letter-spacing: 0.125rem;
}
.hamburger {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 2.0625rem;
  height: 0.25rem;
  margin-bottom: 0.3125rem;
  position: relative;
  background-color: var(--light);
  border-radius: 0.375rem;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
.hamburger:hover span:nth-child(2) {
  transform: translateX(0.625rem);
  background-color: var(--dark);
}
.hamburger.is-active span:nth-child(1) {
  transform: translate(0, -0.125rem) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(0.9375rem);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-0.1875rem, 0.1875rem) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color: var(--lightgreen);
}
.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -1rem;
}
.menu a {
  color: #fff;
  margin: 0 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 0.5rem 1rem;
  border-radius: 6.1875rem;
}

.menu a.is-active,
.menu a:hover {
  background-color: var(--dark);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;

  padding-top: 3.75rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: var(--dark);

  color: #fff;
  transition: 0.3s;
}
.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.3s;
}
.mobile-menu a:hover {
  color: var(--lightgreen);
  background-color: white;
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  padding: 1.25rem;
  text-align: center;
  border-top: 2rem;
}
@media (min-width: 768px) {
  nav h1 {
    font-size: 2rem;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
  .menu a {
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 840px) {
  nav h1 {
    font-size: 1rem;
  }
}
@media (max-width: 785px) {
  nav h1 {
    font-size: 0.6rem;
  }
}
